$color-dk-green: #3c6255; //rgb(60,98,85)
$color-md-green: #61876e; //rgb(97,135,110)
$color-lt-green: #a6bb8d; //rgb(166,187,141)
$color-earth: #eae7b1;    //rgb(234,231,177)
$font-header: "Patua One";

.seed-starter-text {
    font-family: $font-header;
}
body {
    
    font-family: sans-serif;
    font-size: 1rem;

}

.seed {
    color: $color-earth;
}

.starter {
    color: $color-lt-green;
}

.jumbotron {
    background-color: $color-dk-green;
    margin-bottom: 0;
    color: $color-earth;
    border-radius: 0;
    padding: 10px;
    font-family: $font-header;
}

.navbar {
background: #3c6255;
background: linear-gradient(to right,#3c6255 0%, #a6bb8d 95%);
background: -webkit-linear-gradient(to right,#3c6255 0%, #a6bb8d 95%);
background: -moz-linear-gradient(to right,#3c6255 0%, #a6bb8d 95%);
}

.card {
    border: none;
    padding: 0px;
}

.card-header {
    border: none;
    padding: 0px;
    background-color: white;
}

.btn-faq {
    a:hover {
        color: $color-md-green;
    }
    color: $color-lt-green;
    font-weight: bold;
    font-size: medium;
}






