$color-dk-green: #3c6255; //rgb(60,98,85)
$color-md-green: #61876e; //rgb(97,135,110)
$color-lt-green: #a6bb8d; //rgb(166,187,141)
$color-earth: #eae7b1;    //rgb(234,231,177)
$font-header: "Patua One";

.seed-starter-text {
    font-family: $font-header;
}
body {
    
    font-family: "Open Sans";
}

.seed {
    color: $color-earth;
}

.starter {
    color: $color-lt-green;
}

.jumbotron {
    background-image: linear-gradient(to bottom, $color-dk-green, $color-lt-green);
    margin-bottom: 0;
    color: $color-earth;
    border-radius: 0;
    padding: 15px; 
}

.navbar {
    background-image: linear-gradient(to right, $color-dk-green, $color-md-green, $color-lt-green, $color-earth);
}

