.seed-starter-text {
  font-family: "Patua One"; }

body {
  font-family: sans-serif;
  font-size: 1rem; }

.seed {
  color: #eae7b1; }

.starter {
  color: #a6bb8d; }

.jumbotron {
  background-color: #3c6255;
  margin-bottom: 0;
  color: #eae7b1;
  border-radius: 0;
  padding: 10px;
  font-family: "Patua One"; }

.navbar {
  background: #3c6255;
  background: linear-gradient(to right, #3c6255 0%, #a6bb8d 95%);
  background: -webkit-linear-gradient(to right, #3c6255 0%, #a6bb8d 95%);
  background: -moz-linear-gradient(to right, #3c6255 0%, #a6bb8d 95%); }

.card {
  border: none;
  padding: 0px; }

.card-header {
  border: none;
  padding: 0px;
  background-color: white; }

.btn-faq {
  color: #a6bb8d;
  font-weight: bold;
  font-size: medium;
  margin-left: 20px; }
  .btn-faq a:hover {
    color: #61876e; }
